.blogcard  .card .title{
    color: #000066;
    font-size: 0.8rem;
   
}
.blogcard .card .date::before{
    content: url(./../../assets/calendar-search.png);
    height: 10px;
    
}.blogcard .card .time::before{
    content: url(./../../assets/book.svg);
    height: 10px;
    
}
.blogcard .viewall{
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 5px 3px #333;
}


.blogcard .front{
    height: 10rem;
    object-fit: cover;
}